<button
    class="@GetButtonClasses()"
    type="@Type"
    id="@Id"
    disabled="@Disabled"
    @onclick="OnClick"
    command="@Command"
    commandfor="@CommandFor"
    style="@Style"
    >
    @ChildContent
</button>