@using AppTiemposV3.SharedClases.Enums

<div class="@GetClassesDiv()" id="@ElementId" @ref="ElementRef">
    <Button Variant="outline" Size="sm" Class="@($" {GetClasessButton()}")" OnClick="ToggleCalendar" Disabled=@Disabled>
        <Calendar Class="w-4 h-4 mr-2"/>
        @DateDropdown
    </Button>

    <div class="@ClassHeight">
        @if (IsOpen)
        {
            <div class="@GetClasessDivCalendar()">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="text-lg font-semibold text-gray-700 dark:text-gray-300">
                        @(Mode == CalendarMode.Single ? "Seleccionar fecha" : "Seleccionar rango")
                    </h2>
                </div>

                <div>
                    <CalendarFilterMonth
                        CurrentMonth="@CurrentMonth"
                        AllowFutureDates="AllowFutureDates"
                        FilterByWeek="FilterByWeek"
                        SelectedStart="@SelectedStart"
                        SelectedEnd="@SelectedEnd"
                        MinDate="@MinDate"
                        MaxDate="@MaxDate"
                        OnDateSelected="@HandleDateSelected"
                        OnMonthChanged="@ChangeMonth"/>
                </div>
            </div>
        }
    </div>
</div>