
<button
    type="button"
    id="@Id"
    class="@GetButtonClasses()"
    @onclick="Toggle"
    disabled="@Disabled"
    aria-checked="@Checked"
    role="switch">
    <span class="@GetThumbClasses()"></span>
</button>